<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>saveUserLocationServlet</servlet-name>
    <servlet-class>info.arindamsharma.reachout.server.service.SaveUserLocationServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>getUserLocationServlet</servlet-name>
    <servlet-class>info.arindamsharma.reachout.server.service.GetUserLocationServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>saveUserLocationServlet</servlet-name>
    <url-pattern>/reachout_trial/saveUserLocation</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>getUserLocationServlet</servlet-name>
    <url-pattern>/reachout_trial/getUserLocation</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Reachout_trial.html</welcome-file>
  </welcome-file-list>

</web-app>
